[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-ecc = ">=7.0"
antlr4-python3-runtime = "==4.13"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
